<div class="page-header">
  <h1><%= fa_icon 'group', text: 'Brugere' %></h1>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Værelse</th>
      <th>Synlig</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr<%= user.visible? ? '' : ' class="old-user"'.html_safe -%>>
        <td><%= user.name %></td>
        <td><%= user.room %></td>
        <td>
          <span class="label label-<%= user.visible ? 'success' : 'danger' -%>">
            <i class="fa fa-<%= user.visible ? 'check-' : '' -%>square-o"></i>
          </span>
        </td>
        <td class="text-center">
          <%= link_to edit_user_path(user), class: 'btn btn-warning btn-xs' do %>
           <%= fa_icon 'edit', text: 'Rediger' %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to user, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-danger btn-xs' do %>
            <%= fa_icon 'flash', text: 'Slet' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny bruger', new_user_path, class: 'btn btn-link' %> |
<% if params[:all] %>
  <%= link_to 'Vis kun synlige', users_path(params.except(:all)), class: 'btn btn-link' %>
<% else %>
  <%= link_to 'Vis alle', users_path(all: true), class: 'btn btn-link' %>
<% end %>
