<div class="page-header">
  <h1>
    KK400 Ølloge&trade;! 
    <small>
      Grafer, tabeller og statistik 
      <i class="icon-beer"></i>
      <i class="icon-heart"></i>
    </small>
  </h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Navn
        <span class="pull-right">
          <a class="show-old-users icon-eye-open"></a>
          <a class="hide-old-users icon-eye-close hide"></a>
        </span>
      </th>
      <th>Værelse</th>
      <% @products.each do |product| %>
        <th>
          <%= product.name %> 
          <span class="pull-right">
            <%= link_to graph_path(product.id), class: 'graph' do %>
              <i class="icon-bar-chart"></i>
            <% end %>
          </span>
        </th>
      <% end %>
      <th>Indbetalt</th>
      <th>Balance</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr<%= user.visible? ? '' : ' class="old-user"'.html_safe -%>>
        <td><%= user.name %></td>
        <td><%= user.room %></td>
        <% @products.each do |product| %>
          <td class="text-right"><%= number_with_delimiter (@quantities[[user.id, product.id]].presence || 0) %></td>
        <% end %>
        <td class="text-right"><%= number_to_colored_currency (@payments[user.id].presence || 0) %></td>
        <td class="text-right"><%= number_to_colored_currency ((@balances[user.id].presence || 0) + (@payments[user.id].presence || 0)) %></td>
      </tr>
    <% end %>

    <tr>
      <th>
        Total
        <span class="pull-right">
          <a class="show-old-users icon-eye-open"></a>
          <a class="hide-old-users icon-eye-close hide"></a>
        </span>
      </th>
      <th></th>
      <% @products.each do |product| %>
        <th class="text-right"><%= number_with_delimiter @totals[product.id] %></th>
      <% end %>
      <% total_paid = @payments.inject(0) {|sum, b| sum += b.second} %>
      <th class="text-right"><%= number_to_colored_currency total_paid %></th>
      <% total_balance = (@balances.inject(0) {|sum, b| sum += b.second} + total_paid) %>
      <th class="text-right"><%= number_to_colored_currency total_balance %></th>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col col-lg-2">
    <table class="table table-bordered table-striped table-condensed">
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td class="text-right"><%= number_to_currency product.price %></td>
      <% end %>
    </table>
  </div>
  <div class="col col-lg-4 col-offset-6">
    <table class="table table-bordered table-striped table-condensed">
      <tbody>
        <tr>
          <td><i class="icon-legal"></i> Salg sidste måned</td>
          <td class="text-right"><%= number_to_colored_currency @sales_last_month %></td>
        </tr>

        <tr>
          <td><i class="icon-usd"></i> Kontant</td>
          <td class="text-right"><%= number_to_colored_currency @last_month_meta[:cash] %></td>
        </tr>

        <tr>
          <td><i class="icon-frown"></i> Svind</td>
          <td class="text-right"><%= number_to_colored_currency @last_month_meta[:loss] %></td>
        </tr>

        <tr>
          <td><i class="icon-dashboard"></i> Ølbeholdning</td>
          <td class="text-right"><%= number_to_colored_currency @last_month_meta[:stock] %></td>
        </tr>

        <tr>
          <th><i class="icon-money"></i> Penge i alt</th>
          <th class="text-right"><%= number_to_colored_currency -total_balance + @last_month_meta[:stock] + @last_month_meta[:cash] %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
