<div class="page-header">
  <h1><%= fa_icon 'eye', text: 'Administratorer' %></h1>
</div>

<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Brugernavn</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.username %></td>
        <td class="text-center">
          <%= link_to edit_administrator_path(administrator), class: 'btn btn-warning btn-xs' do %>
            <%= fa_icon 'edit', text: 'Rediger' %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to administrator, method: :delete, data: { confirm: 'Er du sikker?' }, class: 'btn btn-danger btn-xs' do %>
            <%= fa_icon 'flash', text: 'Slet' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny administrator', new_administrator_path, class: 'btn btn-link' %>
