<%= form_for @product, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>
      <h1><%= title -%></h1>
    </legend>

    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'Produktnavn', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :width, 'Størrelse på print', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :width, class: 'form-control' %>
        <span class="help-block">
          <small>Standard størrelsen på print er <em>130</em>. "Indbetalt" kolonnen vil være flydende bredde, mens de andre vil være faste.</small>
        </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, 'Pris', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <div class="input-group">
          <span class="input-group-addon">kr.</span>
          <%= f.text_field :price, class: 'form-control' %>
        </div>

        <% if defined?(edit) and edit %>
          <span class="help-block">
            <small>Vær opmærksom på at ændringer kun gælder fremtidige regnskaber.</small>
          </span>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :visible %> Synlig
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit title, class: 'btn btn-success btn-sm' %>
        <%= link_to 'Tilbage', products_path, class: 'btn btn-link btn-sm' %>
      </div>
    </div>
  </fieldset>
<% end %>
